@use "variables.scss" as *;


@font-face {
    font-family: 'Pacifico';
    src: url('./Pacifico/Pacifico-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 2rem;
    scroll-behavior: smooth;
}

body {
    background-color: $maincolor;
}


header {

    background-color: $maincolor;
    border-bottom: 1px solid $maincolor2;
    ul {
        list-style: none;
        height: 7vh;

        a {

            color:$maincolor2;
            
            font-family: "Pacifico", serif;
            
            font-size: 2em;
            padding-left: 2vw;
            
            margin-right: 1vw;
            text-decoration: none;
            transition: font-size 0.3s ease;
            &:hover {
              font-size: 2.2em;
              text-shadow: 5px 5px 5px greenyellow, -5px -5px 5px greenyellow, -5px 5px 10px greenyellow, 5px -5px 5px greenyellow;
              //text-shadow: 0 0 0px greenyellow, 0 0 15px greenyellow, 0 0 30px greenyellow;

            }
        }
    }

}

main {
    width: 80vw;
    margin-top: 5vh;

    .hero {
        margin-bottom:10vh;   
        color: $maincolor2;

        svg {
            display: block;
            margin: 50px auto;
          }
          
          .line {
            stroke-dasharray: 500; /* Longitud total de la línea (debe coincidir con la longitud del trazo) */
            stroke-dashoffset: 500; /* Inicialmente, la línea está oculta */
            animation: draw-line 3s ease forwards; /* La animación que hará que la línea se dibuje */
          }
          
          @keyframes draw-line {
            100% {
              stroke-dashoffset: 0; /* Al final de la animación, el trazo estará completamente visible */
            }
          }
    }
  
    .progress-bar {
        width: 10%;
        transition: width 5s ease;
        
    }

    

    .cards {


      .card {
        transform-origin: center;
        background-color: black;
        cursor: pointer;
        transition: transform 1s linear;
        &:hover {
          animation: spin 2s cubic-bezier(0.15, 0.1, 0.25, 1), glowing 10s linear infinite;
          z-index: 1;
          transform: scale(1.5);
        }

        @keyframes spin {
          0% {
            transform: rotateY(0deg) scale(1);

          }
          100% {
            transform: rotateY(360deg) scale(1.5);

          }
        }

        @keyframes glowing {
          0% {
            box-shadow: 0 0 1px $maincolor2, 0 0 15px $maincolor2, 0 0 30px $maincolor2;

          }

          20% {
            box-shadow: 0 0 1px $maincolor, 0 0 15px $maincolor, 0 0 30px $maincolor;


          }

          40% {
            box-shadow: 0 0 1px green, 0 0 15px green, 0 0 30px green;

          }

          60% {
            box-shadow: 0 0 1px rgb(135, 0, 0), 0 0 15px rgb(135, 0, 0), 0 0 30px rgb(135, 0, 0);

          }

          80% {
            box-shadow: 0 0 1px blue , 0 0 15px blue, 0 0 30px blue;

          }

          100% {
            box-shadow: 0 0 1px $maincolor2, 0 0 15px $maincolor2, 0 0 30px $maincolor2;

          }
        }

        h3 {
          color: $maincolor2;
          font-family: "Pacifico", serif;
        }
      
        p {
          color: $maincolor2;
          text-align: justify;
          font-family: "Lato", serif;
          font-weight: 400;
          font-style: italic;
          padding: 0 1vw;
        }
      }
    }

    .skills {
      .skill {
        p {
          color: $maincolor2;
          font-family: "Lato", serif;
          font-weight: 400;
        }
        .bar-100{
          width: 100%;
        }
        .bar-80{
          width: 80%;
        }
        .bar-70{
          width: 70%;
        }
      }
    }


}

footer {

  border-top: 1px solid $maincolor2;


}