@use "variables.scss" as *;


@font-face {
    font-family: 'Pacifico';
    src: url('./Pacifico/Pacifico-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $maincolor;
}


header {

    background-color: $maincolor;
    border-bottom: 1px solid $maincolor2;
    ul {
        list-style: none;
        height: 7vh;

        a {

            color:$maincolor2;
            
            font-family: "Pacifico", serif;
            
            font-size: 3em;
            padding-left: 2vw;
            
            margin-right: 1vw;
            text-decoration: none;
            transition: font-size 0.3s ease;
            &:hover {
              font-size: 3.3em;
              text-shadow: 5px 5px 5px greenyellow, -5px -5px 5px greenyellow, -5px 5px 10px greenyellow, 5px -5px 5px greenyellow;

            }
        }
    }

}
.flash {
     
  animation: flashEffect 1s ease-in-out;
}

@keyframes flashEffect {
  0%, 10%, 20%, 40%, 70%, 100% {
    opacity: 1;
  }
  5%,15%,30%,55%,85% {
    opacity: 0;
    background-color: $maincolor;
  }
}

main {
    width: 80vw;
    margin-top: 5vh;
    

    
    .hero {
        margin-bottom:10vh;   
        color: $filtrobgcolor;
        p {
          font-size: 3em;
          font-family: 'Pacifico','Serif';
          span {
            color: $maincolor2;
            text-shadow: 0 0 35px rgb(164, 3, 3);
            font-size: 3em;
          }
        }
        img {
          max-width: 100%;
          height: auto; /* Mantiene las proporciones */
          border-radius: 50%;
        }
    }
  
    .progress-bar {
        width: 10%;
        transition: width 3s linear;
        
    }

    

    .cards {


      .card {
        transform-origin: center;
        background-color: black;
        cursor: pointer;
        transition: transform 1s linear;
        &:hover {
          animation: spin 2s cubic-bezier(0.15, 0.1, 0.25, 1);
          box-shadow: 0 0 1px $maincolor2, 0 0 15px $maincolor2, 0 0 30px $maincolor2;

          z-index: 1;
          transform: scale(1.2);
        }

        @keyframes spin {
          0% {
            transform: rotateY(0deg) scale(1);

          }
          100% {
            transform: rotateY(360deg) scale(1.2);

          }
        }

        

        h1 {
          color: $filtrobgcolor;
          font-family: "Pacifico", serif;
          font-size: 3em;
        }
      
        p {
          color: $filtrobgcolor;
          text-align: justify;
          font-family: "Lato", serif;
          font-weight: 400;
          font-style: italic;
          font-size: 1.2em;
          padding: 0 1vw;
        }
      }
    }

    .skills {
      .skill {
        p {
          color: $filtrobgcolor;
          font-family: "Lato", serif;
          font-weight: 400;
        }
        .bar-100{
          width: 100%;
        }
        .bar-80{
          width: 80%;
        }
        .bar-70{
          width: 70%;
        }
      }
    }
   
    #contact {
      margin-top: 3vh;
      h1 {
        
        color: $filtrobgcolor;
        font-family: "Lato", serif;
        font-weight: 400; 
      }
      div {
        margin-top: 1vh;
        label {
          min-width: 3vw;
          color: $filtrobgcolor;
          font-family: "Lato", serif;
          font-weight: 400;      
        }
        input {
          width: 25vw;
          font-family: "Lato", serif;
          font-weight: 400;
          margin-right: 1vw;
        }
      }
      label {
        margin: 1vh 0;
        color: $filtrobgcolor;
          font-family: "Lato", serif;
          font-weight: 400;  
      }
      textarea {
        margin-bottom: 3vh;
      }
    }

}

footer {

  border-top: 1px solid $maincolor2;
  font-size: 0.8em;
  img {
    &:hover {
      cursor: pointer;
    }
  }
}

//  @media (min-width: 576px) { ... } /* sm */
/* Estilo solo para md (medium, 768px a 991.98px) */
@media (max-width: 520px) {

  header {
    ul {
      a {
        font-size: 2em;
      }
    }


  }
  main {
    .hero {
      p {
        font-size: 2em;
        font-family: 'Pacifico','Serif';
        color: white;
        span {
          color: $maincolor2;
          text-shadow: 0 0 35px rgb(164, 3, 3);
          font-size: 2em;
        }
      }
    }

   
  }

}
@media (min-width:525px) and (max-width: 900px) {

  header {
    ul {
      a {
        font-size: 2.5em;
      }
    }


  }
  main {
    .hero {
      p {
        font-size: 2.5em;
        font-family: 'Pacifico','Serif';
        color: white;
        span {
          color: $maincolor2;
          text-shadow: 0 0 35px rgb(164, 3, 3);
          font-size: 2em;
        }
      }
    }

   
    
  }

}


/* Estilo solo para lg (large, 992px a 1199.98px) */
@media (min-width: 1199px) and (max-width: 1324px) {
  body {
    background-color: orange;
  }
  main {
    .hero {
      p {
        font-size: 2em;
        font-family: 'Pacifico','Serif';
        color: white;
        span {
          color: $maincolor2;
          text-shadow: 0 0 35px rgb(164, 3, 3);
          font-size: 2em;
        }
      }
    }
  }
}
@media (min-width: 1325px) and (max-width: 1900px) {
  body {
    background-color: green;
  }
  main {
    .hero {
      p {
        font-size: 2.2em;
        font-family: 'Pacifico','Serif';
        color: white;
        align-self: center;
        span {
          color: $maincolor2;
          text-shadow: 0 0 35px rgb(164, 3, 3);
          font-size: 2em;
        }
      }
    }
  }
}

@media (min-width: 1901px) and (max-width: 2302px) {
  body {
    background-color: orange;
  }
  main {
    .hero {
      p {
        font-size: 2.5em;
        font-family: 'Pacifico','Serif';
        color: white;
        span {
          color: $maincolor2;
          text-shadow: 0 0 35px rgb(164, 3, 3);
          font-size: 2.8em;
        }
      }
    }
  }
}


//@media (min-width: 1200px) { ... } /* xl */
//@media (min-width: 1400px) { ... } /* x